.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 60vw;
}

.input-container input {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);

  font-size: 16px;
  font-weight: 600;
  height: 55px;
  width: 100%;
  padding: 0 40px 0 10px;
}

.input-container i {
  position: absolute;
  right: 15px;
  color: var(--main-color);
  cursor: pointer;
  transform: scale(1.5);
}
::placeholder {
  font-weight: 600;
}
@media (width < 1330px) {
  .input-container {
    width: 80vw;
  }
}
@media (width < 770px) {
  sup {
    font-size: 12px;
  }
  ::placeholder {
    font-size: 16px;
  }
  .input-container i {
    transform: scale(2);
  }
}
