header {
  display: flex;
  justify-content: space-between;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
  background-color: var(--secondary-color);
}

.name {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  gap: 10px;
  cursor: pointer;
  border-radius: 0 0 0 10px;
  justify-self: flex-end;
  width: fit-content;
  height: 55px;
}

.name i {
  color: var(--main-color);
}

.route-switch {
  display: flex;
  align-items: center;
  height: 55px;
  border-radius: 0 0 10px 10px;
  gap: 10px;
  padding: 0 10px 0 10px;
}

.info-section {
  opacity: 0;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  text-align: right;
  justify-self: flex-end;
  margin-top: 5px;
}
.link {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.active {
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-decoration: underline;
  color: var(--main-color);
}

@media (width < 775px) {
  .info {
    flex-direction: column-reverse;
    align-items: flex-end;
    > * {
      width: 170px;
    }
  }
  .route-switch {
    border-radius: 0 0 0 10px;
    > * {
      padding: 0px;
    }
  }
  .name {
    width: 100%;
    border-radius: 0;
  }
  .link {
    font-size: 14px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
}
