main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.search-tip {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 15px;
  height: 120px;
  text-align: center;
  width: 50vw;
  gap: 15px;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-prompt {
  padding: 50px;
  border-radius: 5px;
  box-sizing: content-box;
  width: 25vw;
  text-align: center;
  align-self: center;
}

.result-section {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  height: 40vw;
  width: 80vw;
  margin-bottom: 5px;
}

